*{
    padding: 0;
    margin: 0px;
}

.arealogo{
    background-color:rgb(192, 207, 239);    
}

.areageneral{
    position:relative;
    width:100vw;
    height:90vh;
    background-color:rgb(192, 207, 239);
}
  
.areaescribir{
    position:absolute;
    width: 40%;
    height: 60%;
    padding: 20px 30px;
    border: none;
    background-color:rgb(192, 207, 239);
    font-family:times;
    font-size:40px;
    font-style: italic;
    font-weight: bold;
    line-height: 120%;   
}

.areaescribir::placeholder{
    color:rgb(21, 83, 150);
    }  

.areaescribir:focus,.areaescribir:active{
    border: none;
    outline: none;
}

.condiciones{
    font-size:16px;
    color: gray;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    left: 30px;
    gap: 8px;
    position: absolute;
    width:80%;
    top:75%   
}

.accion{
    display:flex;
    flex-direction: row;
    align-items:flex-start;
    padding: 7px 10px;
    position:absolute;
    width: 70%;
    left: 5px;
    top:84%;
    }

.botencriptado{
    color:yellow;
    align-items: center;
    padding: 1%;
    gap: 2px;
    width: 17%;
    background-color: rgb(9, 43, 143);
    border-radius: 30px;
    border-color: rgb(133, 153, 20);
    font-size: 20px;
    font-family:times;
    font-style: oblique;
}

.botdesencriptado{
    color:white;
    align-items: center;
    padding: 1%;
    gap: 2px;
    width: 17%;
    background-color: rgb(74, 74, 76);
    border-radius: 30px;
    border-color: rgb(133, 153, 20);
    font-size: 20px;
    font-family:times;
    font-style: oblique;
}

.botdesencriptado:hover, .botencriptado:hover{
    border-color: white;
    padding:1.1%;
    width:22%;
    font-size: 28px;    
    margin: 0.6%;
}

.resultado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 35%;
    height: 60%;
    left:60%;
    top:10%;
    font-size: 14px;
    font-family:times;
    font-style: oblique;
    background-color: white;
    box-shadow: 10px 10px 30px 15px #000000;
    border-radius: 25px;
}

.resultado img{
        position:absolute;
        width: 35%;
        height: 40%;
        top: 0%;
        margin: 5%;
        left:100px;
    }

.resultado h2{
        width:100%;
        height: 10%;
        margin-top: 80%;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 110%;
        text-align: center;
    }

.resultado p{
        width:100%;
        display: block;
        height:90%;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 140%;
        text-align: center;
        margin-top: 3%;
    }


    footer{
        text-align: center;
        padding:2px;
        color: blue;
        top:80%;   
    }

    /*Responsive Design*/
@media (max-width:57.5em) {
        .areageneral{
            display: flex;
            flex-direction:row;
        }
        .areaMensaje{
            width: 100%;
        }
        .areaescribir{
            width: 80%;
            height: 60%;
            left: 10%;
            top: 10%;
        }
        .condiciones{
            width: 80%;
            left: 10%;
            top: 67%;
        }
        .condiciones p{
            font-size: 19px;
        }
        .accion{
            width: 80%;
            left: 10%;
            top: 71%;
        }
        .botencriptado{
            color:yellow;
            align-items: center;
            padding: 1%;
            gap: 2px;
            width: 30%;
            background-color: rgb(9, 43, 143);
            border-radius: 20px;
            border-color: rgb(133, 153, 20);
            font-size: 15px;
            font-family:times;
            font-style: oblique;
        }
        .botdesencriptado{
            color:white;
            align-items: center;
            padding: 1%;
            gap: 2px;
            width: 30%;
            background-color: rgb(74, 74, 76);
            border-radius: 20px;
            border-color: rgb(133, 153, 20);
            font-size: 15px;
            font-family:times;
            font-style: oblique;
        }
        .botdesencriptado:hover, .botencriptado:hover{
            color:rgb(82, 239, 9);
            border-color: white;
            padding:1.1%;
            width:35%;
            font-size: 18px; 
            font-style:italic;   
            margin: 0.3%;
        }
        .resultado{
            position:absolute;
            width: 80%;
            height: 15%;
            top:80%;
            left: 40px;
        }
        .resultado img{
            display: none;    
        }
        .resultado h2{
        
            padding: 1% ;
            margin-top: 3%;
            font-size: 15px;
            width:100%;
            display:block; 
            height: 10%;
        }
        .resultado p{
            font-size: 13px;
            width:100%;
            display:block; 
            top: 15%;
        }


    }

